#home{
    background-color: #E5CEA9;
}

#scenario1{
    background-color: #486152;
}

#scenario2{
    background-color: #E5CEA9;
}

#scenario3{
    background-color: #597C68;
}

body{
    margin: 0;
    padding: 0;
}

.section{
    
    height:100vh;
    width:100vw;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
  }

#logo{
  
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
    margin: 20px;
    position:fixed;
    width: 10%;
    top:0px;
    animation: rotate 30s infinite linear;
}

.pics{
    text-align: center;

}

.doodle{
    position: relative;
    padding: 70px;
    top: 70px;
    display: inline-block;
    width: 20%;
    cursor: pointer;
}

