i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: block;
    padding: 3px;
    position: absolute;
    top: 85%;
    cursor: pointer;
  }

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 
  @media screen and (max-width: 825px)  {
    #doodle2{
        display: none;
    }
    #doodle1{
        display: none;
    }

  }


#doodle1{
    display: inline-block;
}

#doodle2{
    display: inline-block;
}

html{
    font-family: arial;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}


#logo{
    left: 35%;
    top: 25%;
    display: block;
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
    position:fixed;
    width: 30%;
    animation: rotate 30s infinite linear;
    z-index: 1;
    cursor: pointer;
}

.section{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.doodle{
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
    width: 20%;
    cursor: pointer;
    margin: 70px;
}

 

#home{
    background-color: #486152;
}

#intro{
    background-color: #E5CEA9;
    text-align: center;
  
}

#text{
    width: 100px;
	height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scenario1{
    background-color: #486152;
}

#scenario2{
    background-color: #E5CEA9;
}

#scenario3{
    background-color: #597C68;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to { 
      transform: rotate(360deg);
    }
}

@keyframes zoomOut {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}
.zoomOut {
  animation: fade-in 1.4s;
}

.hidden {
    opacity: 0;
}






