<!DOCTYPE html>
{% from 'section.html' import section %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='file.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
    </head>
    <body>
        <div id="slidedownleft">
            <div class="information">
                thanks for turning off the lights!
                It saves energy.
                The ressources for energy are finite.<br />
                <br />

                <div>other ideas:</div>
                <div>- turn off your computer over night</div>
                <div>- shower short and cold</div>
                <div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</div>
                <div class="leftlines">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                
            </div>
        </div>
        <div id="slidedownright">
            <div class="information">
                Reasons why you shouldn't leave lights on:<br />
                <br />
                The ressources for energy are finite.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

                
            
                <div class="rightlines">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                
            </div>
        </div>
        <section id="scenario1" class='section'>
            <div id="mySidenav" class="sidenav">
                <a href="#scenario2">intro</a>
                <a href="#scenario3">energy saving</a>
                <a href="#scenario4">plastic packaging</a>
                <a href="#scenario5">public transportation</a>
                <a href="#scenario6">food leftovers</a>
            </div>
            
            <img  id='logo' src="{{ url_for('static', filename='pileaLogo.png') }}" alt="my logo">
        </section>

        <section id='scenario2' class='section'>
            <i class="up"></i>
            <div id="text">
                find out about easy ways to be more eco-fiendly!<br />
                <br />click and scroll</div>
            </div>
            <i class="down"></i>
        </section>
        
        {{ section("/static/off1.png", "/static/off2.png", "/static/on1.png", "/static/on2.png", 'scenario3') }}
        {{ section("/static/without1.png", "/static/without2.png", "/static/withplastic1.png", "/static/withplastic2.png", 'scenario4') }}
        {{ section("/static/off1.png", "/static/off2.png", "/static/on1.png", "/static/on2.png", 'scenario5') }}
        
    </body>
</html>